h1 {
  text-align: center;
}

.home-cont {
  display: flex;
  justify-content: space-around;
}

h3 {
  text-align: center;
}

li {
  padding: 0.5rem;
}

.skill-cont {
  display: flex;
}

.skill-name {
  display: flex;
  flex: 1;
}

select {
  text-align: center;
}

.add-skill-cont {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.home-page-link {
  text-align: center;
  padding-top: 3rem;
}

.single-skill-cont {
  display: flex;
  flex-direction: column;
}

.single-skill-cont > input {
  width: 10rem;
  height: 2rem;
  text-align: center;
  margin: 0.5rem;
}

.single-skill-cont > button {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
}
